@use '../../../../styles/mixins' as mixins;

:host {
  display: block;
  margin: 20px 20px;

  --help-card-padding-desktop: 24px 40px;
  --help-card-content-gap-desktop: 40px;
  --help-card-header-gap-desktop: 32px;
  --help-card-icon-size-desktop: 80px;
  --help-card-title-size-desktop: 28px;
  --help-card-action-width-desktop: 220px;
}

.help-card {
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  background-color: var(--color-surface-blue-opacity);
  border-radius: var(--help-card-radius);
  box-shadow: var(--help-card-shadow);
}

.help-card__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--help-card-header-gap-mobile);
}

.help-card__icon {
  width: var(--help-card-icon-size-mobile);
  height: var(--help-card-icon-size-mobile);
  flex-shrink: 0;

  object-fit: contain;
}

.help-card__title {
  margin: 0;

  color: var(--color-primary-dark);
  font-family: var(--font-family-title);
  font-size: var(--help-card-title-size-mobile);
  font-weight: var(--font-weight-regular);
  line-height: var(--help-card-title-line-height);

  max-width: 18ch;
  text-align: center;
}

.help-card__action {
  display: block;
  width: 100%;

  justify-content: center;

  --action-button-width-mobile: 100%;
  --action-button-width: 100%;
}

@include mixins.respond-lg {
  .help-card--banner {
    width: 50%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--help-card-content-gap-desktop);

    padding: var(--help-card-padding-desktop);
  }

  .help-card--banner .help-card__header {
    flex: 0 1 auto;
    justify-content: center;
    gap: var(--help-card-header-gap-desktop);
  }

  .help-card--banner .help-card__icon {
    width: var(--help-card-icon-size-desktop);
    height: var(--help-card-icon-size-desktop);
  }

  .help-card--banner .help-card__title {
    flex: 0 1 auto;

    font-size: var(--help-card-title-size-desktop);
    text-align: center;
  }

  .help-card--banner .help-card__action {
    flex-shrink: 0;
    width: var(--help-card-action-width-desktop);

    --action-button-width-mobile: 100%;
    --action-button-width: 100%;
  }
}