<section
  class="clinic-identity"
  aria-labelledby="clinic-identity-title"
>
  <div class="clinic-identity__layout">
    <div class="clinic-identity__introduction">
      <h2
        id="clinic-identity-title"
        class="clinic-identity__title"
      >
        {{
          translationService.translate(
            'clinicIdentity.title'
          )
        }}
      </h2>

      <p class="clinic-identity__description">
        {{
          translationService.translate(
            'clinicIdentity.text'
          )
        }}
      </p>
    </div>

    <app-diagonal-card
        class="clinic-identity__mission"
        [horizontal]="true"
      >
        <img
          class="clinic-identity__card-icon"
          [src]="
            translationService.translate(
              'clinicIdentity.mission.icon'
            )
          "
          [alt]="
            translationService.translate(
              'clinicIdentity.mission.iconAlt'
            )
          "
          loading="lazy"
        >

        <div class="clinic-identity__card-content">
          <h3 class="clinic-identity__card-title">
            {{
              translationService.translate(
                'clinicIdentity.mission.title'
              )
            }}
          </h3>

          <p class="clinic-identity__card-text">
            {{
              translationService.translate(
                'clinicIdentity.mission.text'
              )
            }}
          </p>
        </div>
      </app-diagonal-card>

    <div class="clinic-identity__image-container">
      <img
        class="clinic-identity__image"
        [src]="
          translationService.translate(
            'clinicIdentity.image.src'
          )
        "
        [alt]="
          translationService.translate(
            'clinicIdentity.image.alt'
          )
        "
        loading="lazy"
      >
    </div>

    <app-diagonal-card
      class="clinic-identity__values"
      [horizontal]="true"
    >
      <img
        class="clinic-identity__card-icon"
        [src]="
          translationService.translate(
            'clinicIdentity.values.icon'
          )
        "
        [alt]="
          translationService.translate(
            'clinicIdentity.values.iconAlt'
          )
        "
        loading="lazy"
      >

      <div class="clinic-identity__card-content">
        <h3 class="clinic-identity__card-title">
          {{
            translationService.translate(
              'clinicIdentity.values.title'
            )
          }}
        </h3>

        <ul class="clinic-identity__values-list">
          @for (value of values; track value) {
            <li class="clinic-identity__values-item">
              {{ value }}
            </li>
          }
        </ul>
      </div>
    </app-diagonal-card>
  </div>
</section>