@use '../../../../styles/mixins' as *;

:host {
  display: flex;
  justify-content: start;
  width: 100%;
}

.navigation-button {
  width: var(--action-button-width-mobile);
  flex-shrink: 0;

  min-height: var(--action-button-height);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-md) var(--space-xl);

  background-color: var(--color-primary-dark);
  color: var(--color-white);

  font-family: var(--font-family-ui);
  font-size: var(--font-size-action-button-mobile);

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);

  border: none;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-action-button);

  text-decoration: none;
  cursor: pointer;

  // Escritorio
  @include respond-lg {
    font-size: var(--font-size-action-button);
    width: var(--action-button-width);
  }
}