:root {
    --modal-close-size: 40px;

    --diagonal-card-image-size-mobile: 80px;
    --diagonal-card-image-size-desktop: 120px;

    --metric-card-image-size-mobile: 80px;
    --metric-card-image-size-desktop: 100px;

    --article-modal-image-height-mobile: 220px;
    --article-modal-image-height-desktop: 280px;

    --menu-modal-arrow-size: 18px;
    --menu-modal-icon-size: 2rem;
    --menu-modal-icon-gap: 1rem;
    --menu-modal-icon-stroke-width: 1;

    --help-card-icon-size-mobile: 60px;
    --help-card-icon-size-desktop: 140px;

    --specialized-physiotherapy-icon-mobile: 40px;
    --specialized-physiotherapy-icon-desktop: 60px;

    --clinic-identity_card-icon-movile: 35px;
    --clinic-identity_card-icon-desktop: 45px;
}