:root {
  --footer-logo-size-mobile: 76px;
  --footer-logo-size-desktop: 38px;

  --footer-badge-size-mobile: 42px;
  --footer-badge-size-desktop: 42px;

  --action-button-width-mobile: 180px;
  --action-button-width: 250px;

  --cards-carousel-columns-mobile: 2;
  --cards-carousel-columns-tablet: 4;
  --cards-carousel-columns-desktop: 4;

  --professional-card-max-width: 372px;
  --professional-card-image-aspect-ratio: 3 / 4;

}