:root {
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 32px;
  --radius-full: 999px;

  --modal-radius: 24px;
  --diagonal-card-radius: 24px;
  --article-card-radius: 24px;
  --professional-card-image-radius: 12px;
  --metric-card-radius: 28px;
  --article-modal-image-radius: 16px;
  --help-card-radius: 32px;
  --service-card-radius: 10px;
}