:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;

  --modal-content-padding-top: 70px;
  --modal-content-padding-horizontal: 24px;
  --modal-content-padding-bottom: 24px;

  --section-padding-y: 72px;
  --section-padding-x: 24px;

  --component-gap-sm: 12px;
  --component-gap-md: 24px;
  --component-gap-lg: 40px;

  --diagonal-card-padding-mobile: 16px 12px;
  --diagonal-card-padding-desktop: 20px;

  --article-card-padding-mobile: 30px;
  --article-card-padding-desktop: 20px;

  --cards-carousel-gap: 48px;
  --cards-carousel-padding-y: 20px;

  --container-padding-footer-mobile: 20px;
  --container-padding-footer-desktop: 60px;

  --container-padding-mobile: 20px;
  --container-padding-desktop: 60px;

  --footer-main-padding-y-mobile: 48px;
  --footer-main-padding-y-desktop: 28px;

  --footer-bottom-padding-y-mobile: 24px;
  --footer-bottom-padding-y-desktop: 16px;

  --professional-card-content-padding-mobile: 12px 8px 8px;
  --professional-card-content-padding-desktop: 12px 8px 8px;
  --professional-card-profession-margin-top: 8px;

  --metric-card-padding-mobile: 5px 28px;
  --metric-card-padding-desktop: 5px 32px;
  --metric-card-gap-mobile: 0px;
  --metric-card-gap-desktop: 0px;
  --metric-card-text-margin-top: 12px;

  --article-modal-content-gap: 16px;
  --article-modal-padding: 12px;

  --menu-modal-link-gap: 12px;
  --menu-modal-link-padding: 12px 8px 12px 4px;

  /* Help card */
  --help-card-padding-mobile: 24px 20px;
  --help-card-padding-desktop: 48px 64px;

  --help-card-header-gap-mobile: 16px;
  --help-card-header-gap-desktop: 32px;

  --help-card-content-gap-mobile: 28px;
  --help-card-content-gap-desktop: 52px;

  --service-card-content-gap-desktop: 10px;
  --service-card-content-gap-mobile: 20px;
  --service-card-content-padding-mobile: 20px;
  --service-card-content-padding-desktop: 10px;
  --service-card-footer-padding-mobile: 10px;
}