:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;

  --section-padding-y: 72px;
  --section-padding-x: 24px;

  --component-gap-sm: 12px;
  --component-gap-md: 24px;
  --component-gap-lg: 40px;

  --diagonal-card-padding-mobile: 16px 12px;
  --diagonal-card-padding-desktop: 20px;

  --cards-carousel-gap: 24px;
  --cards-carousel-padding-y: 20px;

  --container-padding-heght: 20px;

  --container-padding-mobile: 20px;
  --container-padding-desktop: 60px;

  --footer-main-padding-y-mobile: 48px;
  --footer-main-padding-y-desktop: 28px;

  --footer-bottom-padding-y-mobile: 24px;
  --footer-bottom-padding-y-desktop: 16px;
}