:root {
  --font-family-title: 'DM Serif Text', serif;
  --font-family-base: 'Roboto', Arial, sans-serif;
  --font-family-ui: 'Poppins', Arial, sans-serif;

  --modal-close-font-size: 38px;

  --font-size-hero-title-mobile: 32px;
  --font-size-hero-text-mobile: 16px;

  --font-size-hero-title: 42px;
  --font-size-hero-text: 20px;

  --font-size-action-button: 16px;
  --font-size-action-button-mobile: 12px;

  --font-size-footer-brand: 24px;
  --font-size-footer-brand-mobile: 18px;
  --font-size-footer-text: 12px;
  --font-size-footer-link: 14px;
  --font-size-footer-column-title: 14px;

  --font-size-section-title-mobile: 24px;
  --font-size-section-title: 28px;

  --diagonal-card-title-size-mobile: 14px;
  --diagonal-card-title-size-desktop: 16px;
  --diagonal-card-text-size-mobile: 14px;
  --diagonal-card-text-size-desktop: 16px;

  --article-card-title-size-mobile: 18px;
  --article-card-title-size-desktop: 20px;
  --article-card-text-size-mobile: 14px;
  --article-card-text-size-desktop: 16px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-tight: 1.1;
  --line-height-normal: 1.5;

  --metric-card-title-size-mobile: 24px;
  --metric-card-title-size-desktop: 36px;
  --metric-card-text-size-mobile: 12px;
  --metric-card-text-size-desktop: 16px;

  --article-modal-title-size-mobile: 24px;
  --article-modal-text-size-mobile: 16px;
  --article-modal-title-size-desktop: 24px;
  --article-modal-text-size-desktop: 16px;

  --menu-modal-link-font-size: 16px;

  --help-card-title-size-mobile: 20px;
  --help-card-title-size-desktop: 54px;
  --help-card-title-line-height: 1.08;

  --font-size-specialized-physiotherapy-title-mobile: 20px;
  --font-size-specialized-physiotherapy-text-mobile: 14px;
  --font-size-specialized-physiotherapy-specialized-mobile: 10px;
  --font-size-specialized-physiotherapy-title-desktop: 24px;
  --font-size-specialized-physiotherapy-text-desktop: 18px;
  --font-size-specialized-physiotherapy-specialized-desktop: 14px;

  --clinic-identity-title-mobile: 27px;
  --clinic-identity-title-desktop: 27px;
  --clinic-identity_description-mobile: 14px;
  --clinic-identity_description-desktop: 14px;
  --clinic-identity_card-title-mobile: 20;
  --clinic-identity_card-title-desktop: 20;
  --clinic-identity_card-text-mobile: 14;
  --clinic-identity_card-text-desktop: 14;

  --section-description-font-size-mobile: 14px;
  --section-description-font-size-desktop: 18px;

  --service-card-title-size-mobile: 18px;
  --service-card-title-size-desktop: 22px;
  --service-card-text-size-mobile: 14px;
  --service-card-text-size-desktop: 16px;
  --service-card-read-more-size-mobile: 12px;
  --service-card-read-more-size-desktop: 14px;
}