@if (isOpen) {
  <div
    class="modal"
    role="presentation"
    (click)="onBackdropClick()"
  >
    <section
      class="modal__panel"
      role="dialog"
      aria-modal="true"
      (click)="onPanelClick($event)"
    >
      <header class="modal__header">
        <a
          class="modal__brand"
          routerLink="/"
          (click)="close()"
        >
          <img
            class="modal__logo"
            [src]="translationService.translate('brand.logo')"
            [alt]="translationService.translate('brand.logoAlt')"
          />

          <span class="modal__brand-name">
            {{ translationService.translate('brand.name') }}
          </span>
        </a>

        <button
          class="modal__close"
          type="button"
          aria-label="Cerrar modal"
          (click)="close()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </header>

      <div class="modal__content">
        <ng-content />
      </div>
    </section>
  </div>
}