<footer class="footer">
  <div class="footer__main">
    <div class="footer__brand">
      <div class="footer__brand-header">
        <img
          class="footer__logo"
          src="assets/images/logo.png"
          [alt]="translationService.translate('brand.logoAlt')"
        />

        <h2 class="footer__title">
          {{ translationService.translate('brand.name') }}
        </h2>
      </div>

      <p class="footer__subtitle">
        {{ translationService.translate('footer.brand.subtitle') }}
      </p>

      <p class="footer__description">
        {{ translationService.translate('footer.brand.description') }}
      </p>
    </div>

    <nav
      class="footer__links"
      [attr.aria-label]="translationService.translate('footer.navigation.title')"
    >
      <div class="footer__column">
        <h3 class="footer__column-title">
          {{ translationService.translate('footer.navigation.title') }}
        </h3>

        <a routerLink="/">
          {{ translationService.translate('navigation.home') }}
        </a>

        <a routerLink="/about-us">
          {{ translationService.translate('navigation.aboutUs') }}
        </a>

        <a routerLink="/our-project">
          {{ translationService.translate('navigation.ourProject') }}
        </a>

        <a routerLink="/tips">
          {{ translationService.translate('navigation.tips') }}
        </a>

        <a routerLink="/contact">
          {{ translationService.translate('navigation.contact') }}
        </a>
      </div>

      <div class="footer__column">
        <h3 class="footer__column-title">
          {{ translationService.translate('footer.services.title') }}
        </h3>

        <a routerLink="/our-project">
          {{ translationService.translate('footer.services.traumatology') }}
        </a>

        <a routerLink="/our-project">
          {{ translationService.translate('footer.services.rehabilitation') }}
        </a>

        <a routerLink="/our-project">
          {{ translationService.translate('footer.services.physiotherapy') }}
        </a>

        <a routerLink="/our-project">
          {{ translationService.translate('footer.services.chronicPain') }}
        </a>
      </div>

      <div class="footer__column">
        <h3 class="footer__column-title">
          {{ translationService.translate('footer.information.title') }}
        </h3>

        <a routerLink="/tips">
          {{ translationService.translate('footer.information.tips') }}
        </a>

        <a routerLink="/contact">
          {{ translationService.translate('footer.information.faq') }}
        </a>

        <a routerLink="/contact">
          {{ translationService.translate('footer.information.privacyPolicy') }}
        </a>

        <a routerLink="/contact">
          {{ translationService.translate('footer.information.termsOfService') }}
        </a>
      </div>
    </nav>

    <div class="footer__badges">
      <a
        class="footer__badge"
        href="#"
        [attr.aria-label]="translationService.translate('footer.badges.healthAlt')"
      >
        <img
          src="assets/images/badge-red.png"
          [alt]="translationService.translate('footer.badges.healthAlt')"
        />
      </a>

      <a
        class="footer__badge"
        href="#"
        [attr.aria-label]="translationService.translate('footer.badges.logoAlt')"
      >
        <img
          src="assets/images/wellcare.png"
          [alt]="translationService.translate('footer.badges.logoAlt')"
        />
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    <p>
      {{ translationService.translate('footer.bottom.copyright') }}
      |
      {{ translationService.translate('footer.bottom.privacyPolicy') }}
      |
      {{ translationService.translate('footer.bottom.termsOfService') }}
    </p>
  </div>
</footer>