<app-main-photo heroKey="hero.home">
    <app-action-button buttonKey="actionButton.sendCv" mailMode="cv"/>
    <app-action-button buttonKey="actionButton.contact" mailMode="contact"/>
</app-main-photo>

<app-section-title titleKey="treatments.sectionTitle" />
<app-cards-carousel
  [columnsMobile]="articlesArray.length > 1 ? 1.7 : articlesArray.length"
>
    @for (card of treatmentsArray; track card.title || $index) {
      <app-diagonal-card [card]="card" />
    }
  </app-cards-carousel>

<app-section-title titleKey="specializedPhysiotherapy.sectionTitle" />
<app-specialized-physiotherapy />

<app-section-title titleKey="articles.news&tips" />
<app-cards-carousel
  [columnsMobile]="articlesArray.length > 1 ? 1.2 : articlesArray.length"
  [columnsTablet]="articlesArray.length > 1 ? 2 : articlesArray.length"
  [columnsDesktop]="articlesArray.length > 1 ? 4 : articlesArray.length"
>
  @for (card of articlesArray; track card.title || $index) {
    <app-article-card [card]="card" />
  }
</app-cards-carousel>

